  .piano {
    padding: 40px 20px 0 20px;
    background-color: #7a7a7a;
    border-radius: 10px;
    position: fixed;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    text-align:center;
    overflow: hidden;
    display: flex;
    box-sizing: border-box;
  }
  
  .white {
    width: 40px;
    height: 160px;
    background-color: white;
    border: 1px solid #333;
    box-sizing: border-box;
  }
  
  .black {
    width: 24px;
    height: 96px;
    background-color: black;
    border-left: 2px solid #333;
    border-right: 2px solid #333;
    border-bottom: 2px solid #333;
    border-top: 1px solid #333;
    margin-left: -12px;
    margin-right: -12px;
    z-index: 2;
    box-sizing: border-box;
  }
 
  .selected{
      background-color: #4a87fa;
  }

  .noteCard{
      width: 160px;
      height: 60px;
      background-color: white;
      padding: 10px;
      margin: 5px;
      border: 1px solid #333;
      box-sizing: border-box;
  }